
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container ">
        <div class="navbar-header none">
            <a class="navbar-brand" href="###">所有微信玩家数据展示</a>
            <a href="/showCardResult">查看所有转盘中奖玩家信息</a>
        </div>
    </div>
</nav>
<div class="widget widget-table">

    <div class="widget-header">
        <i class="icon-th-list"></i>

    </div> <!-- /widget-header -->

    <div class="widget-content">

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>头像</th>
                <th>微信昵称</th>
                <th>收货人</th>
                <th>收货地址</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>转盘中奖</th>
                <th>游戏分数</th>
                <th>游戏排名</th>

            </tr>
            </thead>

            <tbody id="tBody">
            <%for(var i=0; i< data.length; i++){%>
            <tr>
                <td><img  style="width: 50px ; height: 50px" src=<%=data[i].headimgurl%> alt=""></td>
                <td><%=data[i].wxName%></td>
                <td><%=data[i].realname%></td>
                <td><%=data[i].address%></td>
                <td><%=data[i].phoneNumber%></td>
                <td><%=data[i].email%></td>
                <td><%=data[i].reward%></td>
                <td><%=data[i].highestScore%></td>
                <td><%=(i+1)%></td>
            </tr>
            <%}%>
            </tbody>
        </table>

    </div> <!-- /widget-content -->

</div>















